<div class="recipe">
  <a name="alison"></a>
  <div class="image" style="background:url(/img/alison.jpg)">
  </div>
  <div class="card">

    <div class="click panel">
        <div class="front">
          <div class="padder">
            <h3>Caprese Crisps</h3>
            <span>Made by: Alison McCarthy, Director of Account Management</span>
            <p>
            Alison looked no further than her garden to create this end-of-summer appetizer.
            </p>
            <span class="button">See Alison's Recipe</span>
          </div>

        </div>
        <div class="back">
          <div class="padder">
            <h3>Recipe</h3>
              <div class="ingredients">
                <ul>
                  <li>Original Pretzel Crisps</li>
                  <li>Ripe tomato</li>
                  <li>Fresh mozzarella</li>
                  <li>Basil from garden</li>
                  <li>Olive oil from Greece</li>
                  <li>Balsamic vinegar</li>
              </ul>
              </div>
            </div
        </div>
        </div>
    </div>

  </div>
</div>
