<div class="recipe">
  <a name="gracie"></a>
  <div class="image" style="background:url(/img/gracie.jpg)">
  </div>
  <div class="card">

    <div class="click panel">
        <div class="front">
          <div class="padder">
            <h3>Pretzel Pizza Bites</h3>
            <span>Made by: Gracie Bobbitt, Brand Manager</span>
            <p>
              Gracie is always thinking about how CTP can innovate and grow.  So it makes sense that she realized a new opportunity for a classic crowd-pleaser.  According to her, the next big thing in pizza is actually quite small.
            </p>
            <span class="button">See Gracie's Recipe</span>
          </div>

        </div>
        <div class="back">
          <div class="padder">
            <h3>Recipe</h3>
              <div class="ingredients">
                <ul>
                  <li>Garlic Parmesan Pretzel Crisps</li>
                  <li>Peperoni</li>
                  <li>Mozzarella Cheese</li>
                  <li>Marinara Sauce</li>
                  <li>Italian Seasoning</li>
              </ul>
              </div>

              <div class="instructions">
                <p>Load Pretzel Crisps with toppings and microwave on high for 10-15 seconds.</p>
              </div>
            </div
        </div>
    </div>

  </div>
</div>
