<div class="recipe">
  <a name="grant"></a>
  <div class="image" style="background:url(/img/grant.jpg)">
  </div>
  <div class="card">

    <div class="click panel">
        <div class="front">
          <div class="padder">
            <h3>Peanut Butter Banana Stacks</h3>
            <span>Made by: Grant Pace, Executive Creative Director</span>
            <p>
            Airlie was a big endorser of this twist on a classic treat.
            </p>
            <span class="button">See Grant's Recipe</span>
          </div>

        </div>
        <div class="back">
          <div class="padder">
            <h3>Recipe</h3>
              <div class="ingredients">
                <ul>
                  <li>Original Pretzel Crisps</li>
                  <li>Peanut Butter</li>
                  <li>Sliced Banana</li>
              </ul>
              </div>
            </div
        </div>
    </div>

  </div>
</div>
