<div class="recipe">
  <a name="jay"></a>
  <div class="image" style="background:url(/img/jay.jpg)">
  </div>
  <div class="card">

    <div class="click panel">
        <div class="front">
          <div class="padder">
            <h3>Jay's Big Italian</h3>
            <span>Made by: Jay Courtney, Creative Director</span>
            <p>
              Jay figured out how to take the best of our neighborhood, Boston’s Italian district, and put in on a pretzel.  Lookout, stromboli.  Jay’s Large Italian is small in size but mighty in flavor.
            </p>
            <span class="button">See Jay's Recipe</span>
          </div>

        </div>
        <div class="back">
          <div class="padder">
            <h3>Recipe</h3>
              <div class="ingredients">
                <ul>
                  <li>Everything Pretzel Crisps</li>
                  <li>Peppered salami</li>
                  <li>Provolone</li>
                  <li>Pickle</li>
                  <li>Spicy Mustard</li>
                  <li>Oregano</li>
              </ul>
              </div>

              <div class="instructions">
                <p>Layer toppings on the Everything Pretzel Crisps. Enjoy!</p>
              </div>
            </div
        </div>
    </div>

  </div>
</div>
