<div class="recipe">
  <a name="john"></a>
  <div class="image" style="background:url(/img/john.jpg)">
  </div>
  <div class="card">

    <div class="click panel">
        <div class="front">
          <div class="padder">
            <h3>Salted Caramel Bacon Crisps</h3>
            <span>Made by: John Stanhope, Senior Web Developer</span>
            <p>
            John trained under a Michelin rated chef in New York.  Which surprised no one who tasted these delicious, gourmet treats
            </p>
            <span class="button">See John's Recipe</span>
          </div>

        </div>
        <div class="back">
          <div class="padder">
            <h3>Recipe</h3>
              <div class="ingredients">
                <ul>
                  <li>Original Pretzel Crisps</li>
                  <li>Homemade Salted Caramel Sauce (sugar, butter, cream)</li>
                  <li>Crumbled Bacon</li>
              </ul>
              </div>

              <div class="instructions">
                <p>Drizzle Pretzel Crisps with salted caramel sauce and top with crispy crumled bacon.</p>
              </div>
            </div
        </div>
    </div>

  </div>
</div>
