<div class="recipe">
  <a name="kara"></a>
  <div class="image" style="background:url(/img/kara.jpg)">
  </div>
  <div class="card">

    <div class="click panel">
        <div class="front">
          <div class="padder">
            <h3>Vegetarian Pretzel Nachos</h3>
            <span>Made by: John Stanhope, Senior Web Developer</span>
            <p>
            John trained under a Michelin rated chef in New York.  Which surprised no one who tasted these delicious, gourmet treats
            </p>
            <span class="button">See Kara's Recipe</span>
          </div>

        </div>
        <div class="back">
          <div class="padder">
            <h3>Recipe</h3>
              <div class="ingredients">
                <ul>
                  <li>Chipotle Cheddar Pretzel Crisps</li>
                  <li>Salsa</li>
                  <li>Cheddar</li>
                  <li>Jalapeno Peppers</li>
              </ul>
              </div>

              <div class="instructions">
                <p>Load Pretzel Crisps with toppings and microwave on high for 10-15 seconds</p>
              </div>
            </div
        </div>
    </div>

  </div>
</div>
