<div class="recipe">
  <a name="kelly"></a>
  <div class="image" style="background:url(/img/kelly.jpg)">
  </div>
  <div class="card">

    <div class="click panel">
        <div class="front">
          <div class="padder">
            <h3>Salted Caramel Pretzel Crisp Brittle</h3>
            <span>Made by: Kelly Van Wart, Media</span>
            <p>
            Kelley has a way with people.  Her Salted Caramel Pretzel Crisp Brittle promptly won the hearts of each and every person who took a bite.  If you’re in the market for friends, you may want to whip up a batch of these bad boys.
            </p>
            <span class="button">See Kelly's Recipe</span>
          </div>

        </div>
        <div class="back">
          <div class="padder">
            <h3>Recipe</h3>
              <div class="ingredients">
                <ul>
                  <li>Original Pretzel Crisps</li>
                  <li>Caramel Sauce</li>
                  <li>Chocolate Chips</li>
                  <li>Sea Salt</li>
              </ul>
              </div>

              <div class="instructions">
                <p>Spread Caramel and Pretzel Crisps on a baking sheet and bake at at 375 for 5 minutes.  Top with melted chocolate and sea salt.  Refrigerate to set.</p>
              </div>
            </div
        </div>
    </div>

  </div>
</div>
