<div class="recipe">
  <a name="kelley"></a>
  <div class="image" style="background:url(/img/kelley.jpg)">
  </div>
  <div class="card">

    <div class="click panel">
        <div class="front">
          <div class="padder">
            <h3>Pretzel Mint Bark</h3>
            <span>Made by: Kelley Bolte, Account Executive</span>
            <p>
              Here’s a Christmas favorite, re-imagined and better than ever.
            </p>
            <span class="button">See Kelley's Recipe</span>
          </div>

        </div>
        <div class="back">
          <div class="padder">
            <h3>Recipe</h3>
              <div class="ingredients">
                <ul>
                  <li>Original Pretzel Crisps</li>
                  <li>Dark Chocolate (Melted)</li>
                  <li>Semisweet Chocolate (melted)</li>
                  <li>White Chocolate (melted)</li>
                  <li>Crushed Peppermints</li>
              </ul>
              </div>
              <div class="instructions">
                <p>Spread a combination of dark chocolate and sweet mint chocolate on the bottom layer.
                  Put Pretzel Crisps (whole) on top of the dark and sweet mint chocolate.
                  Spread white chocolate over the crisps.
                  Break up pretzel crisps and peppermints and  sprinkle them over the white chocolate.
                  Refrigerate.</p>
              </div>
            </div
        </div>
    </div>

  </div>
</div>
