<div class="recipe">
  <a name="lynn"></a>
  <div class="image" style="background:url(/img/lynn.jpg)">
  </div>
  <div class="card">

    <div class="click panel">
        <div class="front">
          <div class="padder">
            <h3>Chicken Parm, Reinvented</h3>
            <span>Made by: Lynn Cupero, Account Supervisor</span>
            <p>
              If you need a restaurant recommendation, recipe or menu idea, Lynn’s your gal.  Need proof? She took one look at a tried-and-true Italian favorite and found a way to make it better.
            </p>
            <span class="button">See Lynn's Recipe</span>
          </div>

        </div>
        <div class="back">
          <div class="padder">
            <h3>Recipe</h3>
              <div class="ingredients">
                <ul>
                  <li>Parmesan Garlic Pretzel Crisps</li>
                  <li>Your favorite chicken parm recipe</li>
              </ul>
              </div>

              <div class="instructions">
                <p>Finely crush Parmesan Garlic Pretzel Crisps and place in a bowl.  Dredge chicken and coat with Crisps prior to baking.</p>
              </div>
            </div
        </div>
    </div>

  </div>
</div>
