<div class="recipe">
  <a name="mark"></a>
  <div class="image" style="background:url(/img/mark.jpg)">
  </div>
  <div class="card">

    <div class="click panel">
        <div class="front">
          <div class="padder">
            <h3>Crispy Turkey Taco Bites</h3>
            <span>Made by: Mark Bappe, Creative Director</span>
            <p>
              Mark has the skills and vision to build almost anything, from ads to furniture to superior snack food.  Which is why he looked at a Chipolte Cheddar Pretzel Crisp and saw a firm foundation for fiesta fair. I think you’ll agree that Mark’s Crispy Turkey Tacos are works of art.
            </p>
            <span class="button">See Mark's Recipe</span>
          </div>

        </div>
        <div class="back">
          <div class="padder">
            <h3>Recipe</h3>
              <div class="ingredients">
                <ul>
                  <li>Chipotle Cheddar Pretzel Crisps</li>
                  <li>1/2 pound Ground Turkey</li>
                  <li>1/2 cup chopped plum tomato</li>
                  <li>1/2 cup finely chopped onion</li>
                  <li>Salt and Pepper</li>
                  <li>2 teaspoons freshly squeezed Lime Juice</li>
              </ul>
              </div>

              <div class="instructions">
                <p>Saute all ingredients, until cooked thoroughly. Use mixture to top Chipotle Cheddary Pretzel Crisps. Add guacamole, cheese, and sour cream if desired.</p>
              </div>
            </div
        </div>
    </div>

  </div>
</div>
