<div class="recipe">
  <a name="paula"></a>
  <div class="image" style="background:url(/img/paula.jpg)">
  </div>
  <div class="card">

    <div class="click panel">
        <div class="front">
          <div class="padder">
            <h3>Cheddar Apple Onion Crunchers</h3>
            <span>Made by: Paula Serafino, VP, Media Director</span>
            <p>
             When Paula snacks, it’s always on something a little different, a little unexpected, and perfectly in season. Like these Cheddar-Apple-Onion Crunchers. If fall could be contained on a cracker, it would taste this good.
            </p>
            <span class="button">See Paula's Recipe</span>
          </div>

        </div>
        <div class="back">
          <div class="padder">
            <h3>Recipe</h3>
              <div class="ingredients">
                <ul>
                  <li>Original Pretzel Crisps</li>
                  <li>Apple & Onion Jam</li>
                  <li>Sharp Cheddar</li>
              </ul>
              </div>

              <div class="instructions">
                <p>Top Original Pretzel Crisps with thinly sliced sharp cheddar and 1 teaspoon of apple and onion jam.</p>
              </div>
            </div
        </div>
    </div>

  </div>
</div>
