<div class="recipe">
  <a name="sadie"></a>
  <div class="image" style="background:url(/img/sadie.jpg)">
  </div>
  <div class="card">

    <div class="click panel">
        <div class="front">
          <div class="padder">
            <h3>Hawaiian Stacker</h3>
            <span>Made by: Sadie Barlow, Associate Media Director</span>
            <p>
            Sadie needed a kid-friendly snack for her daughter, Emma.  Looks like this snack was a hit.
            </p>
            <span class="button">See Sadie's Recipe</span>
          </div>

        </div>
        <div class="back">
            <div class="padder">
              <h3>Recipe</h3>
                <div class="ingredients">
                  <ul>
                    <li>Original Pretzel Crisps</li>
                    <li>Cottage Cheese</li>
                    <li>Pineapple</li>
                </ul>
                </div>
              </div
          </div>
        </div>
    </div>

  </div>
</div>
