<div class="recipe">
  <a name="steve"></a>
  <div class="image" style="background:url(/img/steve.jpg)">
  </div>
  <div class="card">

    <div class="click panel">
        <div class="front">
          <div class="padder">
            <h3>White Cheddar & Pepper Jelly Poppers</h3>
            <span>Made by: Steve Angel, VP, Director of Strategic Development</span>
            <p>
              When Steve took one look at Everything Pretzel Crisps, he saw the answer to his family’s snack time challenges. His sophisticated yet kid-friendly recipe perfectly satisfies the whole family’s post-practice, after-work, dinner’s-not-ready-yet cravings.
            </p>
            <span class="button">See Steve's Recipe</span>
          </div>

        </div>
        <div class="back">
          <div class="padder">
            <h3>Recipe</h3>
              <div class="ingredients">
                <ul>
                  <li>Everything Pretzel Crisps</li>
                  <li>Sharp White Cheddar</li>
                  <li>Pepper Jelly</li>
              </ul>
              </div>

              <div class="instructions">
                <p>Thinly slice cheddar and place on pretzels. Top each with one teaspoon pepper jelly.</p>
              </div>
            </div
        </div>
    </div>

  </div>
</div>
