<div class="mobile-header">
</div>
<div id="navicon">
  <a id="nav-toggle" href="#"><span></span></a>
</div>
<div id="mobile-overlay">
<h2>CTP's Recipes</h2>
  <div class="inner-menu">
    <ul>
      <li class="spacer"><div></div></li>
      <li class="title blue">Original Flavor</li>
      <li><a href="#kelly">Salted Caramel Pretzel Crisp Brittle</a></li>
      <li><a href="#sadie">Hawaiian Stacker</a></li>
      <li><a href="#alison">Caprese Crisps</a></li>
      <li><a href="#grant">Peanut Butter Banana Stacks</a></li>
      <li><a href="#john">Salted Caramel Bacon Crisps</a></li>
      <li><a href="#paula">Cheddar Apple Onion Crunchers</a></li>
      <li><a href="#kelley">Pretzel Mint Bark</a></li>
    </ul>

    <ul>
      <li class="spacer"><div></div></li>
      <li class="title red">Everything Flavor</li>
      <li><a href="#steve">White Cheddar & Pepper Jelly Poppers</a></li>
      <li><a href="#jay">Jay's Large Italian</a></li>
    </ul>

    <ul>
      <li class="spacer"><div></div></li>
      <li class="title green">Garlic Parmesan Flavor</a></li>
      <li><a href="#gracie">Pretzel Pizza Bites</a></li>
      <li><a href="#lynn">Chicken Parm, Reinvented</a></li>
    </ul>

    <ul>
      <li class="spacer"><div></div></li>
      <li class="title orange">Chipotle Flavor</li>
      <li><a href="#mark">Crispy Turkey Taco Bites</li>
      <li><a href="#kara">Vegetarian Pretzel Nachos</li>
    </ul>
  </div>
</div>
