<div data-449="position:absolute;top:450px;" data-450="position:fixed;top:0px;height:100%;" class="sidebar">
  <h2>CTP's Recipes</h2>
    <div class="inner-menu">
      <ul class="original">
        <li class="spacer"><div></div></li>
        <li class="title blue">Original Flavor <div class="toggle">+</div></li>
        <li class="hidden"><a href="#kelly">Salted Caramel<br/>Pretzel Crisp Brittle</a></li>
        <li class="hidden"><a href="#sadie">Hawaiian Stacker</a></li>
        <li class="hidden"><a href="#alison">Caprese Crisps</a></li>
        <li class="hidden"><a href="#grant">Peanut Butter<br/>Banana Stacks</a></li>
        <li class="hidden"><a href="#john">Salted Caramel<br/>Bacon Crisps</a></li>
        <li class="hidden"><a href="#paula">Cheddar Apple<br/>Onion Crunchers</a></li>
        <li class="hidden"><a href="#kelley">Pretzel Mint Bark</a></li>
        <!-- <li class="hidden">The "Presley"</li>-->
      </ul>

      <ul class="everything">
        <li class="spacer"><div></div></li>
        <li class="title red">Everything Flavor <div class="toggle">+</div></li>
        <li class="hidden"><a href="#steve">White Cheddar<br/>& Pepper Jelly Poppers</a></li>
        <li class="hidden"><a href="#jay">Jay's Large Italian</a></li>
      </ul>

      <ul class="garlic">
        <li class="spacer"><div></div></li>
        <li class="title green">Garlic Parmesan Flavor <div class="toggle">+</div></li>
        <li class="hidden"><a href="#gracie">Pretzel Pizza Bites</a></li>
        <li class="hidden"><a href="#lynn">Chicken Parm, Reinvented</a></li>
      </ul>

      <ul class="chipotle">
        <li class="spacer"><div></div></li>
        <li class="title orange">Chipotle Flavor <div class="toggle">+</div></li>
        <li class="hidden"><a href="#mark">Crispy Turkey Taco Bites</a></li>
        <li class="hidden"><a href="#kara">Vegetarian Pretzel Nachos</a></li>
      </ul>
    </div>
</div>
